/* botones superiores */
div.links-btns {
    position: fixed;
    top: 0;
    /* border: 1px solid red; */
    width: 100vw;
    margin-top: 6.05rem;
    margin-left: 15rem;
    background-color: #131b45;
}

div.links-btns button {
    background-color: #131b45;
    border: none;
    color: #ffffff;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

div.links-btns button:hover {
    border-bottom: 1px solid white;
    color: #ffffff;
    background-color: rgba(253, 253, 238, 0.2);

}

/* card */
.card-list {
    list-style: none;
    /* border: 1px solid pink; */
    width: 100vw;
}

.card-list ul {
    display: flex;
    margin-top: 10rem;
    margin-left: 20rem;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70vw;
    /* border: 1px solid blue; */
}

div.links-btns button:focus {
    border-bottom: 1px solid white;
}



/* ///////////////////////////////media//////////////////////////////// */
@media (max-width: 830px) {
    div.links-btns {
        /* border: 1px solid red; */
        width: 90vw;
        margin-left: 10rem;
    }

    div.todo .card-list {
        /* border: 1px solid red; */
        margin-top: -5rem;
        width: 80vw;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 450px) {
    div.links-btns {
        display: flex;
        width: 50vw;
        height: 49px;
        margin-top: 10rem;
    }

    div.todo .card-list {
        margin-top: 7rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-list ul {
        display: flex;
        margin-top: 0rem;
        margin-left: 0rem;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70vw;
        /* border: 1px solid blue; */
    }
}