body {
    background-color: rgb(5, 6, 34);
}

section.todo {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6.05rem;
}

div.navBar {
    position: fixed;
}

.card-list-page {
    width: 100vw;
    align-items: center;
}

/* no tengo que tocarlo en el responsive, tengo que coger cada elemento por separado */