div.containerLogout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 17rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

div.btn-logout button {
    border: none;
    padding: 12px;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: aliceblue;
    background-color: #5d35ac;
}

div.btn-logout button:hover{
    background-color: #8860d8;
}